// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
@import 'leaflet/dist/leaflet.css';


$enable-negative-margins: true;
 
.propertyListing:hover {
  filter: brightness(85%);
}

.block-content {
  min-height: 33em;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 3px;
  background: #fff;
  margin-top: 30px;

  .overflow-content {
    overflow: scroll;
    height: 27em;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.links {
  color: black;
  text-decoration: none;
}

nav {
  background-color: #E00122;
  padding: 0;

  .nav-item {
    a {
      color: white;
      font-weight: bold;
    }
  }
}

.btn {
  @extend .btn;
}

.btn-stealth {
  background-color: #FFFFFF;
  border: none;
  text-transform: none;
  color: #777777;
  background-color: transparent;
}