.reply {
  background-color: #EEEEEE;
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: #333;
}

a {
  color: #dc3545;
}

a:hover {
  color: #7e1b25;
}

.header-custom {
  background-color: #dc3545;

  .modal-title {
    color: #fff;
  }
}
